*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #f8fafc;
}
.container {
  width: 70%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 720px) {
  .container {
    width: 90%;
  }
}
.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.font-weight-bold {
  font-weight: 400 !important;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.form-group {
  margin-bottom: 1rem;
}
input,
textarea,
button {
  font-family: "Nunito", sans-serif;
  font-size: 0.75rem !important;
  font-weight: 400 !important;
  line-height: 1.6 !important;
}
.btn-danger {
  text-align: right;
  color: #fff;
  background-color: #ff5959;
  border-color: #ff5959;
}

span {
  text-decoration: none;
  color: #007bff;
  background-color: transparent;
}
span:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.9;
}

.footer_principal .container {
  display: flex;
  justify-content: space-between;
  height: 40px;
}
.footer_principal .container p span:hover {
  cursor: default;
  text-decoration: none;
  opacity: inherit;
}
.footer_principal .container p,
.terminos {
  margin-top: 0.8rem;
}
@media (max-width: 574px) {
  footer {
    display: none;
  }
}
