*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #f8fafc;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.h6:hover {
  cursor: pointer;
  opacity: 0.9;
}
img {
  border-radius: 0.25rem 0.25rem 0 0;
}
input,
textarea,
button {
  font-family: "Nunito", sans-serif;
  font-size: 0.75rem !important;
  font-weight: 400 !important;
  line-height: 1.6 !important;
}
.btn-danger {
  text-align: right;
  color: #fff;
  background-color: #ff5959;
  border-color: #ff5959;
}
.terminos span {
  text-decoration: none;
  color: #007bff;
  background-color: transparent;
}
.terminos span:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.9;
}

.footer_principal .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 40px;
}
p span {
  text-decoration: none;
  color: #007bff;
  background-color: transparent;
}
p span:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.9;
}
.cargando {
  height: 100vh;
}
